.app-container {
  background-color: rgb(5, 28, 58);
  color: #ffff;
  text-align: center;
  padding: 40px;
  font-family: Arial, sans-serif;
  font-size: larger;
}

button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

.content-box {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: #0f0e0e;
  width: 500px;
  margin-left: 600px;
  font-size: larger;
}
